#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

:root {

  --blue-1: #60daff;
  --blue-2: #39c1ee;
  --blue-3: #1890e0;
  --blue-4: #0b57a3;
  
  --dark-blue-1: #608090;
  --dark-blue-2: #407080;
  --dark-blue-3: #305060;
  --dark-blue-4: #203040;

  --white: #f0f0f0;
  --gray-1: #909090;
  --gray-2: #808080;
  --gray-3: #686868;
  --gray-4: #505050;
  --black-1: #303030;
  --black-2: #282828;
  --black-3: #202020;
  --black-4: #181818;

  --gren-1: #40b060;
  --red-1: #d03030;
}

/* General styles */

#app {
  border: 2px solid red;
  padding: 30px 5px;
  max-width: 95vw;
  overflow: hidden;
}

#app-content {
  border: 2px solid red;
  padding: 40px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  column-gap: 20px;
  row-gap: 30px;
}

.app-article {
  background-color: var(--black-1);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  min-height: 150px;
  width: 100%;
  max-width: 450px;
}

button {
  padding: 5px 15px;
  background: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 5px;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: var(--white);
  color: var(--black-4);
}

input {
  background-color: var(--gray-4);
  border: 2px solid var(--gray-1);
  color: var(--white);
  font-weight: bold;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

/* ***** Following suggestions ***** */

#follow-suggestions main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--black-3);
  padding: 8px;
  border-radius: 10px;
}

.follow-card {
  background-color: var(--dark-blue-3);
  border-radius: 15px;
  padding: 10px 5px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.follow-card header {
  border: 2px solid red;
  /* flex: 200px; */
  display: flex;
  gap: 10px;
  align-items: center;
  width: 60%;
}

.follow-card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.card-user-name {
  font-size: 0.9rem;
}

.follow-card button {
  /* flex: 0 0 100px; */
  cursor: pointer;
  background-color: var(--white);
  color: var(--black-2);
  border: 2px solid var(--white);
  height: fit-content;
  padding: 10px 0;
  border-radius: 10px;
  transition: .3s ease background-color, .3s ease color;
  width: 30%;
}

.follow-card button:hover {
  background-color: var(--gren-1);
  color: var(--black-2);
  border: 2px solid var(--white);
}

.follow-card .following {
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
}

.follow-card .following:hover {
  background-color: var(--red-1);
  border: 2px solid var(--white);
  color: var(--white);
}

.follow-card .text-following {
  display: block;
}

.follow-card .text-stop-following {
  display: none;
}

.follow-card .following:hover .text-following {
  display: none;
}

.follow-card .following:hover .text-stop-following {
  display: block;
}

/* ***** Tic Tac Toe ***** */

#tic-tac-toe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--black-1);
}

#tic-tac-toe .board {
  position: relative;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: fit-content;
  margin: auto;
  text-align: center;
}

#tic-tac-toe .board .board-squares {
  width: 100%;
  background-color: var(--black-3);
  padding: 8px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#tic-tac-toe .square {
  width: 100px;
  height: 100px;
  border: 2px solid var(--gray-2);
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}

#tic-tac-toe .square:hover {
  border: 2px solid var(--white);;
}

#tic-tac-toe .turn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

#tic-tac-toe .turn .square {
  width: 50px;
  height: 50px;
  background-color: var(--black-3);
  pointer-events: none;
  border-color: transparent;
  font-size: 30px;
}

#tic-tac-toe .turn .is-selected {
  color: #fff;
  background: var(--blue-3);
}

#tic-tac-toe .winner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

#tic-tac-toe .winner .square {
  width: 60px;
  height: 60px;
  pointer-events: none;
  border-color: transparent;
}

#tic-tac-toe .winner .text {
  background: rgba(0, 0, 0, 0.85);
  border: 2px solid var(--white);
  border-radius: 10px;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

/* ***** Mouse Follower ***** */

#mouse-follower a {
  font-weight: 500;
  color: var(--blue-4);
  text-decoration: inherit;
}

#mouse-follower a:hover {
  color: var(--blue-1);
}

#mouse-follower {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--black-1);
}

.hidden-follower {
  display: none;
}

body.no-cursor {
  cursor: none;
}

/* ***** Fetching test ***** */

#fetching-test main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}

#fetching-test .fact-cont {
  width: 100%;
  background-color: var(--black-3);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
}

#fetching-test img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

/* ***** Movie App ***** */

#movie-app {
  max-width: 1200px;
}

#movie-app main {
  background-color: var(--black-3);
  padding: 15px 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#movie-app-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#movie-search-results ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

#movie-search-results li {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  background-color: var(--black-4);
  padding: 10px 5px 5px 5px;
  border-radius: 10px;
  max-width: 300px;
}

#movie-search-results li img {
  border-radius: 8px;
}