#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

:root {

  --blue-1: #60daff;
  --blue-2: #39c1ee;
  --blue-3: #1890e0;
  --blue-4: #0b57a3;
  
  --dark-blue-1: #608090;
  --dark-blue-2: #407080;
  --dark-blue-3: #305060;
  --dark-blue-4: #203040;

  --white: #f0f0f0;
  --gray-1: #909090;
  --gray-2: #808080;
  --gray-3: #686868;
  --gray-4: #505050;
  --black-1: #303030;
  --black-2: #282828;
  --black-3: #202020;
  --black-4: #181818;

  --gren-1: #40b060;
  --red-1: #d03030;
}

.app-cont {
  border: 2px solid green;
}

.app {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 95vw;
  min-height: 150vh;
}

/* ***** Following suggestions ***** */

.follow-suggestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--black-1);
}

.follow-suggestions main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--black-3);
  padding: 8px;
  border-radius: 10px;
}

.follow-card {
  background-color: var(--dark-blue-3);
  border-radius: 15px;
  padding: 10px;
  text-align: left;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  box-shadow: 0 0 10px -5px var(--black-3);
}

.follow-card header {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 250px;
}

.follow-card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.follow-card button {
  cursor: pointer;
  background-color: var(--white);
  color: var(--black-2);
  border: 2px solid var(--white);
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  transition: .3s ease background-color, .3s ease color;
  width: 130px;
}

.follow-card button:hover {
  background-color: var(--gren-1);
  color: var(--black-2);
  border: 2px solid var(--white);
}

.follow-card .following {
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  width: 130px;
}

.follow-card .following:hover {
  background-color: var(--red-1);
  border: 2px solid var(--white);
  color: var(--white);
}

.follow-card .text-following {
  display: block;
}

.follow-card .text-stop-following {
  display: none;
}

.follow-card .following:hover .text-following {
  display: none;
}

.follow-card .following:hover .text-stop-following {
  display: block;
}

/* ***** Tic Tac Toe ***** */

.tic-tac-toe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--black-1);
}

.tic-tac-toe main {
  position: relative;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.tic-tac-toe .board {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.tic-tac-toe .board .board-squares {
  background-color: var(--black-3);
  padding: 8px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.tic-tac-toe .square {
  width: 100px;
  height: 100px;
  border: 2px solid var(--gray-2);
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}

.tic-tac-toe .square:hover {
  border: 2px solid var(--white);;
}

.tic-tac-toe .turn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.tic-tac-toe .turn .square {
  width: 50px;
  height: 50px;
  background-color: var(--black-3);
  pointer-events: none;
  border-color: transparent;
  font-size: 30px;
}

.tic-tac-toe .turn .is-selected {
  color: #fff;
  background: var(--blue-3);
}

.tic-tac-toe .winner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.tic-tac-toe .winner .square {
  width: 60px;
  height: 60px;
  pointer-events: none;
  border-color: transparent;
}

.tic-tac-toe .winner .text {
  background: rgba(0, 0, 0, 0.85);
  border: 2px solid var(--white);
  border-radius: 10px;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.tic-tac-toe .board button {
  padding: 5px 15px;
  background: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 5px;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}

.tic-tac-toe .board button:hover {
  background: var(--white);
  color: var(--black-4);
}

/* ***** Mouse Follower ***** */

.mouse-follower a {
  font-weight: 500;
  color: var(--blue-4);
  text-decoration: inherit;
}

.mouse-follower a:hover {
  color: var(--blue-1);
}

.mouse-follower {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--black-1);
}

.mouse-follower h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.mouse-follower button {
  padding: 5px 15px;
  background: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 5px;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}

.mouse-follower button:hover {
  background-color: var(--white);
  color: var(--black-4);
}

@media (prefers-color-scheme: light) {
  .mouse-follower {
    color: var(--gray-4);
    background-color: var(--white);
  }
  .mouse-follower a:hover {
    color: var(--blue-3);
  }
  .mouse-follower button {
    background-color: var(--white);
  }
}

body.no-cursor {
  cursor: none;
}